body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: hsl(0, 81%, 34%);
    padding: 20px;
    text-align: center;
  }
  
  header img {
    width: 200px;
    height: auto;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin: 0;
  }
  
  nav {
    background-color: hsl(0, 72%, 65%);
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: hsl(36, 93%, 43%);
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #9b8d8d;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  ul.products li {
    width: 30%;
    list-style: none;
    box-shadow: 0 0 10px #9795d91a;
    margin: 10px;
    padding: 10px;
  }
  
  ul.products img {
    width: 100%;
    height: auto;
  }
  
  ul.